:root {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;

	color: var(--color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: url(../img/bg-noise-200-dark.png) repeat top left,
		radial-gradient(179.23% 78.82% at 0% 0%, var(--brand-light) 0%, var(--brand-dark) 100%);
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100vh;
	background-attachment: scroll, fixed;
	margin: 0;
	display: flex;
	height: 100vh;
}

#root {
	display: grid;
	grid-template-rows: 1fr auto;
	height: 100vh;
	width: 100%;

	.scrollable-content {
		height: auto;
		overflow: auto;
		padding: 0 1.5rem 3rem;

		> {
			header,
			main {
				margin-inline: auto;
				max-width: 1200px;
				width: 100%;
			}

			main {
				margin-top: 1.5rem;

				@media (min-width: 1024px) {
					margin-top: 3rem;
				}
			}
		}
	}
}
