h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1 {
	font-size: 2.9em;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;
	margin: 0 0 2.75rem;

	@media (min-width: 375px) {
		font-size: 3.2em;
	}

	@media (max-width: 600px) {
		br {
			display: none;
		}
	}

	@media (min-width: 600px) {
		font-size: 3.75em;
	}

	@media (min-width: 768px) {
		font-size: 4.1em;
	}

	@media (min-width: 1024px) {
		font-size: 4.5em;
	}
}

h2 {
	margin-bottom: 0;
}

h3 {
	font-size: 1.5rem;
	margin-top: 2.5rem;
	margin-bottom: 0;
}

h4 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

a {
	&,
	&:hover,
	&:focus,
	&:active {
		color: var(--color);
		text-decoration: none;
	}
}
