.page-header {
	border-bottom: var(--border-width) solid currentColor;
	padding-block: 1.5rem 0.75rem;

	a {
		&,
		&:hover,
		&:focus,
		&:active {
			color: var(--color);
			font-weight: 600;
			font-size: 0.85rem;

			@media (min-width: 1024px) {
				font-size: 1rem;
			}
		}
	}
}
